<head>
    <a href="{% url 'store:clientecreate' %}"></a>
    <div class="py-20" xmlns="http://www.w3.org/1999/html"></div>
    <h1 class="w-full flex justify-center font-semibold text-4xl md:text-5xl w-12/18 md:w-3/4 text-center">
     <hr>Homecliente</h1>

</head>
<body>
<h1>Cadastro de Cliente</h1>
<form method="post" action="">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <a href="{% url 'store:clientecreate' %}"> Novo cadastro </a>
        <input type="submit" value="Salvar" class='bg-red-500 btn btn-sucess'>
        <input type="reset" value="Cancelar" onclick="location.href = '{% url 'store:clientelist' %}'" class="bg-red-500 btn btn-sucess">
        <input type="reset" value="Voltar" onclick="location.href = '{% url 'store:homestore' %}'" class="bg-red-500 btn btn-sucess">
     </form>
</body>


</html>