<head>
    <a href="{% url 'store:estoquecreate' %}"></a>
    <div class="py-20" xmlns="http://www.w3.org/1999/html"></div>
    <h1 class="w-full flex justify-center font-semibold text-4xl md:text-5xl w-12/18 md:w-3/4 text-center">
     <hr>Lista de Produtos</h1>

</head>
<body>
<input type="submit" onclick="location.href = '{% url 'store:estoquecreate' %}'" value="Cadastrar novo produto" class="bg-blue-400 btn btn-sucess">

<ul>

    <li>{{ estoque.nome }} - <a href="{% url 'store:estoquelist' %}">Editar</a>
        <a href="{% url 'store:estoquelist' %}">Visualizar</a>
        <a href="{% url 'store:estoquelist' %}">Apagar</a>
    </li>

</ul>


</body>


</html>
