
<head>
    <a href="{% url 'store:vendalist' %}"></a>
    <div class="py-20" xmlns="http://www.w3.org/1999/html"></div>
    <h1 class="w-full flex justify-center font-semibold text-4xl md:text-5xl w-12/18 md:w-3/4 text-center">
     <hr>Lista de vendas </h1>

</head>
<body>
<input type="submit" onclick="location.href = '{% url 'store:vendacreate' %}'" value="Nova venda" class="bg-red-500 btn btn-sucess">
<ul>
    {% for venda in vendalist %}
    <li>{{ venda.nome }} - <a href="{% url 'store:vendalist' %}">Editar</a>
        <a href="{% url 'store:vendalist' %}">Visualizar</a>
        <a href="{% url 'store:vendalist' %}">Apagar</a>
    </li>
    {% endfor %}
</ul>


</body>


</html>
